
:root {
    --regular: #c19a6b;
    --chocolate: #493d26;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body{
    font-family: sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}
#container{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    min-width: 450px;
    min-height: 540px;
    border-radius: 10px;
    background: #fff8dc;
    padding: 0px 20px;
}

h2 {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.centered{
    text-align: center;
}

.small{
    font-size: 0.8rem;
}

#kicker{
    padding-top: 0;
    margin-top: 0;
}

#the-cols {
    display: flex;
    height: 220px;
}

.info{
    text-align: left;
    line-height: 24px;
}

.left {
    flex-shrink: 0;
    flex-basis: 50%;
}

.right {
    flex-shrink: 0;
    flex-grow: 2;
    flex-basis: 50%;
}

.right {
    height: 150px;
    position: relative;
    top: 20px;
    transition: top 0.4s;
}

.right > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.category {
    opacity: 0.0;
    transition: opacity 1s;
}

.on-screen {
    opacity: 1.0;
}

.direction {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.btn {
    cursor: pointer;
    background: var(--chocolate);
    color: #eee;
    max-width: 140px;
    height: auto;
    border-radius: 6px;
    text-align: center;
    margin: 4px;
}
.btn:hover {
    background: var(--regular);
    color: white;
}

#div-toppings {
    display: flex;
    flex-wrap: wrap;
}

.topping {
    flex: 0 1 auto;
    min-width: 20px;
    font-size: .9em;
    font-weight: 400;
    padding: 0 6px;
    margin: 2px;
    background: #9f000f;;
    color: #eee;
    line-height: 1.2rem;
}
.topping:hover {
    background: #c11b17;
}
.active{
    color: white;
    outline: 1px solid black;
}

.batter {
    min-width: 20px;
    font-size: .9rem;
    font-weight: 400;
    padding: 4px 8px;
    color: #eee;
}
.batter:hover{
    color: white;
}
#b21 {
    background: var(--regular);
}
#b22 {
    background: var(--chocolate);
}
#b21:hover {
    background: #af9574;
    color: white;
}
#b22:hover {
    background: #72654a;
    color: white;
}

#order-btn{
    position: absolute;
    top: 500px;
    width: 80%;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    text-align: center;
    line-height: 30px;
    color: #eee;
    background: lightgrey;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    box-shadow: none;
    border: 0;
}

#fb{
    font-size: 0.8rem;
    max-width: 300px;
}



